.main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(#ffffff8c);
}
.backgroundVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; 
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
    z-index: -1;
  }
.mainPage {
  margin-top: 180px;
   padding: 10px 88px;
}
.mainPage > h2 {
  font-size: 70px;
  font-weight: 700;
  color: white;
  max-width: 400px;
  margin-bottom: 15px;
}
.mainPage > p {
  font-size: 17px;
  color: #FFF;
  margin-bottom: 45.5px;
}
.btns {
  display: flex;
  align-items: center;
  gap: 28px;
}
.btnBox {
  width: 140px;
  height: 44px;
  border: 1px solid #fab448;
  position: relative;
}
.btn {
  font-size: 13px;
  width: 140px;
  height: 44px;
  border: 1px solid #fab448;
  color: #FFF;
  background-color: transparent;
  position: absolute;
  top: 0; 
  transform: translateX(-5%) translateY(15%);
  cursor: pointer;
  transition: 0.3s;
}
.btn2 {
  background-color: #fab448;
}
.btn:hover {
  transform: translateX(0%) translateY(0%);
}