.formBox {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
    position: fixed;
    
}
.form {
    width: 400px;
    height: 442px;
    padding: 2.1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.title {
    font-size: 20.8px;
    margin-bottom: 10.4px;
}
.text {
    font-size: 10.4px;
    margin-bottom: 20.8px;
}
.text2 {
    font-size: 10.4px;
}
.label {
    font-size: 7.15px;
    position: relative;
    color: #262524 ;

}
.label span {
    position: absolute;
    transform: translateX(15px) translateY(10px);
}
.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.input {
    width: 100%;
    padding: 23.4px 15.6px 13px;
    font-size: 9.1px;
    border: none;
    background-color: #F5F5F5;
}
.btn {
    width: 100%;
    padding: 18.2px;
    font-size: 9.1px;
    background-color:#fab448 ;
    font-weight: 700;
    color: #fff;
    border: none;
    margin-bottom: 40.3px;
}
.btnClose {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(70%) translateY(-70%);
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: #fff;
}